<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>EuroPython Locations</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var myLocs = [];
        var metadata = [];
        {% for loc in locs %}
          myLocs.push({lat: {{ loc['lat'] }}, lng: {{ loc['lng'] }} });
        {% endfor %}
        {% for md in data %}
          metadata.push('{{ md['who'] }}');
        {% endfor %}



        var map = new google.maps.Map(document.getElementById('map'),
        {zoom: 5, center: {lat:40, lng: 25}});



        for (var i = 0; i < myLocs.length; i++) {
          new google.maps.Marker({
            position: myLocs[i],
            map: map,
            title: metadata[i],
            icon: new google.maps.MarkerImage("https://maps.google.com/mapfiles/ms/icons/blue.png")

          });
        }

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZvIw4moTSQkONKjt15pyOtbRqWzOkOlw&callback=initMap">
    </script>
  </body>
</html>
